html{
    width: 100%;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

#teaser{

}

#rules, #rules ol{
    font-size: .8em;
}

body{
    width: 500px;
    padding: 0;
    margin: 20px auto 0 auto;
    font-size: 17px;
    font-family: helvetica;
    color: #4d4d4d;
}

h1{
    color: #696969;
    letter-spacing: .2em;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
h2{
    color: #696969;
    font-size: 1em;
    margin: 0 0 30px 0;
    padding: 0;
}

#pre_game{
    font-size: 2em;

}

#pre_game{margin: 0; padding: 0;}
#during_game{display: none; margin: 0; padding: 0;}

#cards{
    margin: 0;
    padding: 0;
    height: 282px;
    overflow: hidden;
}

.card_slot{
    border: 1px solid #dedede;
    margin: auto;
    padding: 5px;
    width: 230px;
    display: inline-block;
    height: 270px;
    overflow: hidden;
    vertical-align: top;
}

.card_slot .title{
    display: block;
    font-size: 1.3em;
}
.card_slot img{
    width: 200px;
    margin: auto;
    display: block;
}


#countdown{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 3.5em;
    color: red;
    height: 50px;
    margin: 20px 0 0 0;
}

#answer{
    font-size: 4em;
    display: block;
    color: black;
    font-weight: bold;
}

#answer_text{
    font-size: 2em;
    display: block;
    font-size: 1.3em;
}

#next_button{
    display: none;
}


fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
form {
    margin: 0;
    padding: 0;
}
form input{
    font-size: 1.2em;
    color: #4d4d4d;
}

